<h2><%= @restaurant.name %></h2>

<p>Style: <%= @restaurant.category.capitalize %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to restaurants", restaurants_path %> | <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
